<!DOCTYPE HTML>
<html>
<head>
  <title>RequireJS sample</title>
  <script data-main="app/app" src="app/lib/require.js"></script>
  <!--<script type="text/javascript" src="build/uge_app.js"></script>-->
</head>
<body>
  <h1>Hello world!</h1>
  <div>
    <script type="text/x-handlebars">
      {{outlet}}
    </script>

    <script type="text/x-handlebars" id="index">
      <h2>Index Route!</h2>
      <button type="button" id="gotoOne">Goto One</button>
    </script>
    <script type="text/x-handlebars" id="one">
      <h2>One Route!</h2>
      <button type="button" id="gotoIndex">Index</button>
    </script>
  </div>
</body>
</html>
